.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #efbf04;
  margin: 0;
}

h1 {
  color: #000080;
}

footer {
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

footer a {
  color: #000080;
  text-decoration: none;
}
